<!-- HEADER -->
<%- include("./partials/header.ejs") -%>
  <!-- SIDEBAR -->
  <%- include("./partials/sidebar.ejs") -%>
  <h1 class="text-4xl font-bold mb-3">
    Provider
  </h1>
</body>

</html>