@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  font: 16px "Inter", sans-serif;

  --color-primary: #8bb785;
  --color-primary-light: #acce91;
  --color-gray-light: #efeae4;
  --color-gray-light-2: #e0dbd6;
  --color-bg: #27272a;
}

/* BACKGROUNDS */

.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-bg {
  background-color: var(--color-bg);
}
.bg-color-primary-light {
  background-color: var(--color-primary-light);
}
.bg-color-gray-light {
  background-color: var(--color-gray-light);
}
.bg-color-gray-light-2 {
  background-color: var(--color-gray-light-2);
}

/* TEXTS */

.text-color-primary {
  color: var(--color-primary);
}
.text-color-bg {
  color: var(--color-bg);
}
.text-color-primary-light {
  color: var(--color-primary-light);
}
.text-color-gray-light {
  color: var(--color-gray-light);
}
.text-color-gray-light-2 {
  color: var(--color-gray-light-2);
}
